input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  padding-left: 6%;
}

.inputWithLabel input[type="text"] {
  padding-left: 7%;
}

.inputWithLabel input[class="pick"] {
  padding-left: 10%;
}
.inputWithLabel input[class="drop"] {
  padding-left: 8%;
}
.inputWithLabel {
  position: relative;
}

.inputWithLabel span {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: white;
  border-right: 1px solid black;
}
.inputWithLabel.inputLabelBg span {
  background: transparent;
  color: black;
  padding: 8px 8px;
  border-radius: 4px 0 0 4px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
}
.col {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
textarea[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  padding-left: 6%;
}

.textWithLabel textarea[class="comment"] {
  padding-left: 8%;
}
.textWithLabel {
  position: relative;
}

.textWithLabel span {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: white;
  border-right: 1px solid black;
}
.textWithLabel.textLabelBg span {
  background: transparent;
  color: black;
  padding: 20px 20px;
  border-radius: 4px 0 0 4px;
}
.button {
  width: 100%;
  background-color: transparent;
  height: 40px;
  border-color: blue;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
